/* IDs */
#random-number{
    font-weight: bold;
    font-size: 30pt;
    color: black;
    margin: 20px;
    padding-right: 100px;
    padding-bottom: 75px;
    padding-left: 15px;
    border: 15px;
    
    background-color: #53c987;

}

/* classes */
.crystals{
    width: 200px;
    float: left;
    margin-top: 25px;
    padding: 25px;

}