/* IDs */

#scoretrack{
    float:left;
    width: 275px;
    position: relative;
}

#crystalplane{
    float: left;
    width: 100%;
}

#playerscrplane{
    float: left;
    width: 100%;
}

#title{
    font-weight: bold;
    font-size: 30pt;
    color: white;
    background-color: #cb6f34;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 33%;
}

#instructions{
    background-color: #fbe6cf;
    color: green;
    font-size:15pt;
    font-weight: bold;
    width: 40%;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
#random-number{
    font-weight: bold;
    font-size: 30pt;
    color: black;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 75px;
    padding-left: 15px;
    border: 15px;
    width: 150px;
    background-color: #53c987;
}

#player-score{
    font-weight: bold;
    font-size: 30pt;
    color: white;
    margin: 20px;
    padding-bottom: 75px;
    padding-left: 15px;
    border: 15px;
    background-color: #1fa395;
    float: left;
    margin-top: 65px;
    position: absolute;
    width: 200px;
}

#player-total{
    font-weight: bold;
    font-size: 15pt;
    color: white;
    margin: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
    border: 15px;
    background-color: #1fa395;
    float: left;
    width: 200px;
}

/* classes */

.clearfix::after
{
    content:" ";
    display: table;
    clear: both;
}

.column{
    padding: 5px;
    float: left;
}

.crystals{
    float: left;
}

.result-board{
    float: left;
    font-weight: bold;
    background-color: #3afefd;
    font-size: 15pt;
    margin-top: 10px;
    margin-left: 20px;
    color: black;
    padding-top: 10px;
    padding-bottom: 60px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
}

/* html tags */
h1{
    padding-left: 10px;
}